

mixin text-field(data) 
  - var  fs = require('fs')
  - var rootDir = require('path').resolve() 
  - var dataElementTF = JSON.parse(fs.readFileSync(rootDir+'/src/blocks/text-field/text-field.json'));
  - for (x = 0; x < dataElementTF.length; x++)
    if dataElementTF[x].type === data.type
      - data = Object.assign(  dataElementTF[x],data);

  .text-field(class=data.textFieldClass )&attributes(attributes)
    if data.titleText
      .text-field__title-text= data.titleText 
    if data.title
      h3.text-field__title= data.title
    .text-field__input-box
      input(type=data.typeInput, class="text-field__input"   , readonly=true && data.readOnly, value=data.inputText, placeholder= data.placeholder) 
      if data.buttonText
        .text-field__input-button= data.buttonText


