include ../twbs-pagination/twbs-pagination

mixin pagination(data)
  .pagination.js-pagination(class=data.paginationClass,data-visiblePages=data.visiblePages,data-totalPages=data.totalPages)
    .pagination__title= data.title
    .pagination__box
      +twbs-pagination()
    .pagination__text= data.text

