mixin text-field(data) 
  .text-field(class=data.textFieldClass)&attributes(attributes)
    if data.title
      .text-field__title-text= data.titleText 
    if data.title
      h3.text-field__title= data.title
    .text-field__input-box
      input(type="text", class="text-field__input" , readonly=true && data.readOnly, value=data.inputText, placeholder= data.placeholder) 
      if data.buttonText
        .text-field__input-button= data.buttonText