mixin text-field(name,placeholder)
  .text-field
    label.text-field__label(for=name) Имя
      input.text-field__input(type="text", name=name, id=name, placeholder=placeholder)


.block
  +text-field("name","Имя")
  .drop-down
    label.drop-down__label(for="name1") Имя
    .drop-down__field
      input.drop-down__input(type="text", name="name1", id="name1", placeholder="Имя") 
      input.drop-down__checkbox-hidden(type="checkbox", name="check" id="check")
      label.drop-down__checkbox(for="check") expand_more
    .drop-down__menu
      ul.drop-down__items
        li.drop-down__item 
          span.drop-down__item-text СПАЛЬНИ
          .drop-down__item-group
            button.drop-down__item-button-inc -
            input.drop-down__item-input(type="text", name="drop-down__input-1" value="0")
            button.drop-down__item-button-dec +
      ul.drop-down__items
        li.drop-down__item 
          span.drop-down__item-text КРОВАТИ
          .drop-down__item-group
            button.drop-down__item-button-inc -
            input.drop-down__item-input(type="text", name="drop-down__input-1" value="2")
            button.drop-down__item-button-dec +
      ul.drop-down__items
        li.drop-down__item 
          span.drop-down__item-text ВАННЫЕ КОМНАТЫ
          .drop-down__item-group
            button.drop-down__item-button-inc -
            input.drop-down__item-input(type="text", name="drop-down__input-1" value="2")
            button.drop-down__item-button-dec +
  
  .checkbox-list
    .checkbox-list__field
      label.checkbox-list__label(for=name) expandable checkbox list
      input.checkbox-list__checkbox-hidden(type="checkbox", name="check1" id="check1")
      label.checkbox-list__checkbox(for="check1") expand_more
    .checkbox-list__menu
      ul.checkbox-list__items
        li.checkbox-list__item
          input.checkbox-list__item-checkbox-hidden(type="checkbox", name="check2" id="check2")
          label.checkbox-list__item-checkbox(for="check2") 
          span.checkbox-list__item-label expandable checkbox list
      




  



      
          

//input.text-field__input(type="text", name="name", id="name", placeholder="Имя")
  .text-field
     label.text-field__label(for="name1") Имя
      input.text-field__input(type="text", name="name1", id="name1", placeholder="Имя", pattern="2-[0-9]{3}-[0-9]{3}")   