//Mixin field
mixin field(type,name,label_text,placeholder,symbol)
    if(label_text && placeholder)
      label(class=type+"__caption", for=type+"__section")= label_text 
    div(class=type+"__section")
      if(placeholder)
        input(class=type+"__input", type="text", name=type+"-input-"+name, id=type+"-input-"+name, placeholder=placeholder, readonly=true) 
      else
        span(class=type+"__input", name=type+"-input-"+name, id=type+"-input-"+name)= label_text
      if(symbol)
        input(class=type+"__checkbox-hidden", type="checkbox", name=type+"-checkbox-"+name, id=type+"-checkbox-"+name)
        label(class=type+"__checkbox", for=type+"-checkbox-"+name)= symbol

//Mixin text-field
mixin text-field(name,label_text,placeholder,symbol)
  - var class_text_field="text-field"
  .div(class= class_text_field)
    +field(class_text_field,name,label_text,placeholder,symbol)
  


//Mixin drop-down
mixin drop-down(name,placeholder,label_text,items,footer_items)
  .drop-down
    .drop-down__main
      +field("drop-down",name,label_text,placeholder,"expand_more")
    .drop-down__menu
      ul.drop-down__items
        - for (var x = 0; x < items.length; x++){
        li.drop-down__item
          div.drop-down__item-text= items[x][0]
          .drop-down__item-group
            button.drop-down__item-button-inc -
            input.drop-down__item-input(type="text", name="drop-down__input-"+name value= items[x][1] )
            button.drop-down__item-button-dec +
        - }
      if(footer_items)
        .drop-down__menu-footer
          .drop-down__menu-footer-items
            - for (var x = 0; x < footer_items.length; x++){
             .drop-down__menu-footer-item= footer_items[x]
            - }
    

//Mixin checkbox-list
mixin checkbox-list(name,text,items,symbol)
 .checkbox-list
  .checkbox-list__main
    +field("checkbox-list",name,text,"",symbol)
  .checkbox-list__menu
    ul.checkbox-list__items
      - for (var x = 0; x < items.length; x++){
      li.checkbox-list__item
        input.checkbox-list__item-checkbox-hidden(type="checkbox", name= type+"-"+name+"-checkbox-"+x, id=type+"-"+name+"-checkbox-"+x, checked=items[x][1])
        label.checkbox-list__item-checkbox(for= name=type+"-"+name+"-checkbox-"+x) 
        div.checkbox-list__item-label= items[x][0]
      - }

mixin rich-checkbox-list(name,text,items,symbol)
 .rich-checkbox-list
  .rich-checkbox-list__main
    +field("checkbox-list",name,text,"",symbol)
  .rich-checkbox-list__menu
    ul.rich-checkbox-list__items
      - for (var x = 0; x < items.length; x++){
      li.rich-checkbox-list__item
        input.rich-checkbox-list__item-checkbox-hidden(type="checkbox", name= type+"-"+name+"-checkbox-"+x, id=type+"-"+name+"-checkbox-"+x, checked=items[x][2])
        label.rich-checkbox-list__item-checkbox(for= name=type+"-"+name+"-checkbox-"+x) 
        .rich-checkbox-list__section  
          .rich-checkbox-list__item-text= items[x][0]
          .rich-checkbox-list__item-desc= items[x][1]
                
      - }      

//Mixin extra-list
mixin extra-list(items)
  .extra-list
    .extra-list__items
      - for (var x = 0; x < items.length; x++){
        .extra-list__item
          .extra-list__item-pic
            span.extra-list__item-symbol= items[x][2]      
          .extra-list__box
            .extra-list__item-text= items[x][0]
            .extra-list__item-desc= items[x][1]
    
      - }
mixin button(name, text, symbol)
  button(class="button", name= name)&attributes(attributes)
    div.button__text= text
    if (symbol)
      .button__symbol= symbol
mixin bullet-list(text, items)
  .bullet-list
    .bullet-list__text= text
    .bullet-list__items
      - for (var x = 0; x < items.length; x++){
        .bullet-list__item
          .bullet-list__item-text= items[x]
      -}

.block
  +text-field("tf1","text field","Email" ,"")
  +drop-down("dd1","Комнаты","Удобства в номере",[["Спальни",2],["Ванные комнаты",2],["Кровати",0]])
  +text-field("tf2","subscription text field","Email" ,"arrow_forward")
  +checkbox-list("cl1","expandable checkbox list",[["Завтрак",false],["Письменный стол",true],["Стул для кормления",true],["Кроватка",true],["Телевизор",false],["Шампунь",false],["Телевизор",false],["Шампунь",false]],"expand_more")
  +checkbox-list("cl2","expandable checkbox list",[["Можно курить",false],["Можно с питомцами",true],["Можно пригласить гостей (до 10 человек)",true]])
  +extra-list([["Комфорт","Шумопоглощающие стены","insert_emoticon"],["Удобство","Окно в каждой из спален","location_city"]])
  .radio-list
    .radio-list__item
      label.radio-list__item-label
        input(class="radio-list__item-input", type="radio", name="radio-list-item" checked)
        .radio-list__item-text Мужчина
    .radio-list__item
      label.radio-list__item-label
        input(class="radio-list__item-input", type="radio", name="radio-list-item")
        .radio-list__item-text Женщина
  .toggle
    .toggle__item
      label.toggle__item-label
        input(class="toggle__item-input",type="checkbox", name="toggle1" checked)
        .toggle__item-text Получать спецпредложения
  .toggle
    .toggle__item
      label.toggle__item-label
        input(class="toggle__item-input",type="checkbox", name="toggle2")
        .toggle__item-text Получать спецпредложения
  .like-button
    .like-button__item
      label.like-button__item-label 
        input(class="like-button__item-input",type="checkbox", name="like")
        .like-button__item-text 2
  .like-button
    .like-button__item
      label.like-button__item-label 
        input(class="like-button__item-input",type="checkbox", name="like" checked)
        .like-button__item-text 12
  .rate
    .rate-button
      .rate-button__items
        input(type="radio", class="rate-button__item-input", name="rate" id="rate1")
        div.rate-button__item-span  
          label.rate-button__item-label(for="rate1")
        input(type="radio", class="rate-button__item-input", name="rate" id="rate2")
        div.rate-button__item-span  
          label.rate-button__item-label(for="rate2")
        input(type="radio", class="rate-button__item-input", name="rate" id="rate3")
        div.rate-button__item-span  
          label.rate-button__item-label(for="rate3")
        input(type="radio", class="rate-button__item-input", name="rate" id="rate4"  checked)
        div.rate-button__item-span  
          label.rate-button__item-label(for="rate4")
        input(type="radio", class="rate-button__item-input", name="rate" id="rate5")
        div.rate-button__item-span     
          label.rate-button__item-label(for="rate5")
    .rate-button
      .rate-button__items
        input(type="radio", class="rate-button__item-input", name="rate1" id="rate11")
        div.rate-button__item-span  
          label.rate-button__item-label(for="rate11")
        input(type="radio", class="rate-button__item-input", name="rate1" id="rate12")
        div.rate-button__item-span  
          label.rate-button__item-label(for="rate12")
        input(type="radio", class="rate-button__item-input", name="rate1" id="rate13")
        div.rate-button__item-span  
          label.rate-button__item-label(for="rate13")
        input(type="radio", class="rate-button__item-input", name="rate1" id="rate14")
        div.rate-button__item-span  
          label.rate-button__item-label(for="rate14")
        input(type="radio", class="rate-button__item-input", name="rate1" id="rate15" checked)
        div.rate-button__item-span     
          label.rate-button__item-label(for="rate15")
  +drop-down("dd2","Сколько гостей","Dropdown",[["Взрослые",0],["Дети",0],["Младенцы",0]],[["Очистить"],["Применить"]])
  +drop-down("dd3","3 гостя","Dropdown",[["Взрослые",2],["Дети",1],["Младенцы",0]],[["Очистить"],["Применить"]])
  +rich-checkbox-list("rcl3","Rich Checkbox Buttons",[["Широкий коридор","Ширина коридоров в номере не менее 91 см.",false],["Помощник для инвалидов","На 1 этаже вас встретит специалист и проводит до номера.",false]])
  .range-slider
    .range-slider__header
      .range-slider__header-text Range Slider
      .range-slider__header-value 5 000₽ - 10 000₽
    .range-slider__body
      <div id="slider"  ></div>
  +button("btn1","Click me","")(class="button--fill")
  +button("btn2","Click me","")(class="button--border")
  +button("btn4","Click me","")(class="button--border-none")
  +button("btn5","Click me","")(class="button--fill button--disabled")
  +button("btn6","Click me","")(class="button--border button--disabled")
  +button("btn7","Click me","")(class="button--border-none button--disabled")
  +button("btn8","Click me","arrow_forward")(class="button--fill button--symbol")
  .pagination-block
    ul(id="pagination" class="pagination-sm pagination-block__item")
    .pagination-block__text 1 – 12 из 100+ вариантов аренды
  +bullet-list("Bullet list",["Нельзя с питомцами","Без вечеринок и мероприятий","Время прибытия — после 13:00, а выезд до 12:00"])