include ../ui-slider/ui-slider

mixin range-slider(data)
  .range-slider.js-range-slider(class = data.rangeSliderClass,data-min=data.min,data-max=data.max, data-values = data.values, data-range=data.range)&attributes(attributes)
    .range-slider__value.js-range-slider__value= data.value
    .range-slider__title= data.title
    +ui-slider()
    .range-slider__text= data.text